$amount: 100;
$color-start: #060;
$dot-size: 4em;
$dot-space: $dot-size / 4;
$color-shift: 2;

.dot {
  border-radius: 50%;
  display: inline-block;
  flex: 0 0 $dot-size;
  height: $dot-size;
  margin: $dot-space;
  width: $dot-size;

  &-wrapper {
    display: flex;
  }

  @for $i from 0 through $amount {
    $color-start: $color-start + $color-shift;

    &--#{$i} {
      background-color: $color-start;
    }
  }
}
