$amount: 150;
$delay: .05s;
$color-start: #060;
$dot-size: 2em;
$dot-space: $dot-size / 4;
$color-shift: 1;

.dot {
  border-radius: 50%;
  display: inline-block;
  flex: 0 0 $dot-size;
  height: $dot-size;
  margin: $dot-space;
  width: $dot-size;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  @for $i from 0 through $amount {
    $color-start: $color-start + $color-shift;

    &--#{$i} {
      background-color: $color-start;
      animation: animateDot #{$delay * ($i + 1)} ease-in;
    }
  }

  @keyframes animateDot {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
